# Xcode
**/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
runs/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Python
__pycache__/
*.pyc
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
